* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

body {
  font-family: "Mulish", sans-serif;
}

header {
  height: 50px;
  width: 100%;
  border-bottom: 1px solid rgba(119, 119, 119, 0.58);
}

.navbar {
  height: 50px;
  width: 90%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 0 5%;
}

.hero {
  height: 88vh;
  width: 100%;
  position: relative;
  background: url(../images/salon-main-img.jpg) center no-repeat;
  background-size: 100%;
}

.features,
.momentum,
.custom,
.promotion {
  height: 50vh;
  width: 80%;
  margin-left: 10%;
  clear: both;
}

.custom {
  margin-left: 20%;
}

.momentum-background {
  background: rgb(243, 244, 246);
  height: 50vh;
}

.lookbook {
  height: 100vh;
  width: 100%;
}

ul {
  list-style: none;
}

nav * {
  padding: 0;
  margin: 0;
}

.nav-logo,
.nav-agenda,
.nav-menu {
  float: left;
  margin-top: 15px;
}

.nav-logo,
.nav-agenda {
  width: 10%;
}
.nav-menu {
  width: 80%;
}

.nav-menu ul {
  margin-left: 15%;
  width: 100%;
}

.nav-menu li {
  display: inline-block;
  padding-right: 3%;
}

.nav-menu li a {
  width: 80%;
  text-decoration: none;
}

.nav-agenda {
  padding-left: 5%;
}

.hero * {
  margin: 0;
  padding: 0;
}

.hero-heading {
  position: absolute;
  left: 12%;
  top: 15%;
  width: 50%;
  color: rgb(85, 85, 85);
}

.hero-heading h1 {
  font-family: "Cinzel", serif;
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 400;
  color: rgb(240, 237, 237);
  text-shadow: 1px 1px black;
}

.hero-heading h2 {
  font-family: "Cinzel", serif;
  font-weight: 700;
  margin-top: 2%;
  color: rgb(240, 237, 237);
  text-shadow: 1px 1px black;
}

.hero-services {
  position: absolute;
  left: 12%;
  top: 45%;
}

.hero-services button {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  border: none;
  text-align: center;
  padding: 15px 30px;
  font-size: 1.1rem;
}

.hero-first-services {
  position: absolute;
  left: 12%;
  top: 55%;
}

.hero-first-card {
  background-color: rgb(255, 255, 255);
  width: 275px;
  height: 280px;
  margin-top: 24%;
}

.hero-first-card h2 {
  font-size: 1rem;
  padding: 20px;
  border-left: 4px solid rgb(255, 255, 255);
  margin-top: 12px;
}

.hero-first-card h1 {
  font-size: 1rem;
  padding: 20px;
  line-height: 2rem;
}

.hero-first-card button {
  font-size: 14px;
  text-align: center;
  padding: 10px 20px;
  margin-left: 20px;
}

.hero-first-card span {
  font-size: 2rem;
}

.features {
  padding-top: 7%;
}

.momentum {
  padding-top: 5%;
  padding-left: 3%;
}

.features-card img {
  width: 50px;
}

.features-card {
  float: left;
  width: 30%;
  text-align: center;
}

.momentum-text,
.momentum-image {
  float: left;
  width: 45%;
}

.momentum-image {
  padding-left: 7%;
}

.momentum-image img {
  width: 350px;
}

.custom-worker,
.promotion {
  padding-top: 5%;
}

.custom-worker-card {
  background: url(../images/worker1.jpg) center no-repeat;
  background-size: cover;
  width: 24%;
  height: 250px;
  position: relative;
  float: left;
  margin-right: 3%;
}

.custom-worker-card * {
  margin: 0;
  padding: 0;
}

.custom-worker-card h2 {
  position: absolute;
  top: 90%;
  left: 9%;
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
  padding: 6% 7%;
  padding-bottom: 30px;
  line-height: 0.9rem;
}

.custom-worker-card p {
  position: absolute;
  top: 10%;
  left: 30%;
  z-index: 1;
  color: white;
  font-size: 0.8rem;
}

.promotion-image {
  background: url(../images/header-hero1.jpg) no-repeat center;
  background-size: cover;
  width: 90%;
  height: 250px;
  margin: 0 auto;
  position: relative;
}

.promotion-text h2,
.promotion-text h1,
.promotion-text button {
  position: absolute;
}

.promotion-text h2 {
  top: 12%;
  font-size: 1.2rem;
  left: 5%;
}

.promotion-text h1 {
  top: 25%;
  font-size: 1.8rem;
  left: 5%;
}

.promotion-text button {
  top: 65%;
  left: 5%;
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
  padding: 15px;
  font-size: 0.8rem;
}

.lookbook {
  margin-left: 3%;
}

.lookbook-text {
  text-align: center;
  margin-bottom: 5%;
}
.lookbook-container {
  width: 80%;
  margin: 0 auto;
}

.lookbook-box {
  float: left;
  width: 32%;
  height: 100px;
  background: black;
  margin: 0.5%;
}

.one {
  height: 25vh;
  background: url(../images/hair-one.jfif) center;
  background-size: cover;
}

.two {
  height: 50vh;
  background: url(../images/hair-two.jfif) center;
  background-size: cover;
}
.three {
  height: 25vh;
  background: url(../images/hair-three.jfif) center;
  background-size: cover;
}
.four {
  clear: both;
  margin-top: -24vh;
  height: 50vh;
  background: url(../images/hair-four.jfif) center;
  background-size: cover;
}
.five {
  height: 25.5vh;

  background: url(../images/hair-five.jfif) center;
  background-size: cover;
}
.six {
  margin-top: -24vh;
  height: 50vh;
  background: url(../images/hair-six.jfif) center;
  background-size: cover;
}
